/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  font-family: sans-serif;
  text-align: center;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.chooser_container {
  background-color: #d7dbdc;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open_chooser {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.open_chooser:hover {
  background: #0d45a5;
}

.btn {
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 6px;
  margin: 10px 5px 10px 5px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}



/* .right-aligned-button {
  align-self: flex-end;
  position: absolute;
  margin: 10px 10px 10px 10px;
  bottom: 0%;
} */

.button-menu {
  align-self: flex-end;
  position: absolute;
  margin: 10px 10px 10px 10px;
  bottom: 0%;
}

.btn-card {
  background-color: rgba(92, 92, 92, 0.466);
  border: none;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 5px;
}
.btn-card:hover {
  background-color: #00000062;
}
.btn-card:active {
  position: relative;
  top: 1px;
}

.gallery {
  margin-top: 1em;
  background-color: #d7dbdc;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery_modal {
  transition: all 2s;
  height: 100vh;
  width: 100wh;
  background-color: #e2e2e2;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.modal_image_container {
  background-color: rgb(211, 211, 211);
  position: absolute;
  width: 100%;
  height: 48em;
  border-radius: 6px;
  top: 0;
}

.modal_image_container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
}
